body {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: #504f4f;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom:0;
}

ul{
margin:0;
padding: 0;
}

li {
list-style: none;
margin:0;
padding:0;
color: #504f4f;
font-size: 16px;
font-weight: 100;
line-height: 19 px;
}

li:first-letter {
text-transform:capitalize;
}

.weather-app-wrapper{
    max-width: 600px;
    margin: 30px auto;
    border-radius: 4px;
  
}

.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    background:url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
}
.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
margin-right:2px;
vertical-align:top;
padding:-10px;
}

.weather-temperature strong{
color:rgb(33,33,33);
font-size:48px;
line-height:2;
font-weight:400;
margin:0px;
}

.weather-temperature .units{
    position:relative;
    font-size:16px;
    top:-23px;
}

.weather-temperature .active {
    color:rgb(33,33,33);
    cursor: default;
}

.weather-temperature .active {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;  
    color:#000;
}

.weather-forecast-day {
font-size: 16px;
opacity:0.5;
}

.westher-forecast-temperature {
    font-size: 13px;
}
.weather-forecast-temperature-min {
    opacity:0.5;
    
}